html,
body {
  font-size: 10px;
  font-weight: 400;
  scroll-behavior: smooth;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 9rem;
  line-height: 1.4;
  font-weight: 600;
}

h2 {
  font-size: 4.7rem;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3.1rem;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

h5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:active,
a:focus,
a:hover,
button {
  text-decoration: none;
  outline: 0;
}

a:hover,
button:hover {
  --webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body {
  background-color: wheat;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 8rem;
}

.main .container {
  border: 2px solid #202020;
  border-radius: 8px;
  background-color: #202020;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main .container .display-section {
  
  padding-top: 12rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: 'Black Ops One', cursive;
  color: white;
  background-color: #202020;
}

.main .container .button-containers {
  background-color: #282828;
  padding: 5rem;
  border: 2px solid #252525;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.main .container .button-containers .input-container button {
  color: white;
  background-color: #252525;
  border: 2px solid #252525;
  text-align: center;
  font-size: 2rem;
  font-family: 'Black Ops One', cursive;
  padding: 2rem;
  margin: 0.5rem;
  width: 8rem;
  border-radius: 1rem;
}

.main .container .button-containers .input-container button:hover {
  background-color: black;
}

.main .container .button-containers .input-container button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition-duration: 10ms;
}

.main .container .button-containers .input-container .btn-del,
.main .container .button-containers .input-container .btn-ac,
.main .container .button-containers .input-container .btn-percent
{
  color: #61F4C8;
} 

.main .container .button-containers .input-container .btn-divide,
.main .container .button-containers .input-container .btn-multiply,
.main .container .button-containers .input-container .btn-add,
.main .container .button-containers .input-container .btn-sub,
.main .container .button-containers .input-container .btn-equal
{
  color: #C70039;
}   

.main .container .button-containers .input-container .row-five .btn-col {
  background-image: url(assets/circle-half-stroke-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 6rem;
  background-color: #a5a8a6;
}

.main .container .button-containers .input-container .row-five .btn-col:hover {
  background-color: wheat;
}